@model EntityViewModel

    <div class="container text-center mt-5">

        <i>There are <b>@Model.TennisClubs.Count</b> places to play tennis within a 5 mile radius of your desired location </i>
        <div class="row mt-5">
            <div class="col-md-3 col-lg-3 col-xl-2 small">
                <div class="filter text-left">
                    <div class="mb-4">
                        <div class="filter-type mt-4">
                            <p class="filter-type font-weight-bold mb-1">Facilites</p>
                            <div class="tm-divider"></div>
                            @foreach (var tennisClub in Model.TennisClubs)
                            {
                                foreach (var facility in tennisClub.Facilities)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                        <label class="form-check-label" for="materialUnchecked">@facility.FacilityType</label>
                                    </div>
                                }
                            }
                        <div class="filter-type mt-4">
                            <p class="filter-type font-weight-bold mb-1">Surface</p>
                            <div class="tm-divider"></div>

                            @foreach (var surface in Model.Surfaces)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                    <label class="form-check-label" for="materialUnchecked">@surface.SurfaceType</label>
                                </div>
                            }
                        </div>
                            
                        </div>
                        <div class="filter-type mt-4">
                            <p class="filter-type font-weight-bold mb-1">Radius</p>
                            <div class="tm-divider"></div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                <label class="form-check-label" for="materialUnchecked">Far away</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                <label class="form-check-label" for="materialUnchecked">Close</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                <label class="form-check-label" for="materialUnchecked">Out of area</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                <label class="form-check-label" for="materialUnchecked">Right here</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-lg-9 col-xl-10">
                @foreach (var club in Model.TennisClubs)
                {

                    <div class="row pt-4 mb-3 bg-white club-summary rounded">
                        <div class="col-6 col-lg-4 pr-0 align-items-stretch mb-3">
                            <img src="~/Images/tc1.jpeg" class="img-fluid rounded-image" w-100 h-100 alt="">
                        </div>
                        <div class="col-6 col-lg-8 pr-0 mb-2">

                            <div class="thumbnail">
                                <div class="row mb-3">
                                    <div class="col-12 col-lg-5 col-xl-6">
                                        <div class="caption">
                                            <h3 class="pull-right club-info-name">@club.Name</h3>
                                            <p class="mb-1 club-info-address">@club.Address.Address</p>
                                            <p class="mb-1 club-info-address"><span class="club-info-schedule">Schedule: </span>@club.Schedule</p>
                                            @*                  <p>@club.PhoneNumber</p>*@
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 col-xl-6 mt-lg-0 cursor pointer mlp-block-link">
                                        <div class="addToCart">
                                            <p class="button">
                                                @{
                                                    var parms = new Dictionary<string, string>
                                                                                                                                                                                                                                                    {
                                { "cityId", club.Address.CityId.ToString() },
                                { "tennisClubId", club.Id.ToString() }
                            };
                                                }
                                                <a class="btn tm-btn--secondary"
                                                   asp-controller="TennisClub"
                                                   asp-action="TennisClub"
                                                   asp-all-route-data="parms">Explore Venue</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="club-info-divider mb-2"></div>
                                <div class="row text-left">
                                    <div class="col-12 body3 d-none d-md-block mb-2">
                                        <div class="list-inline">
                                            <div class="list-inline-item">
                                                <span class="badge badge-success">open</span>
                                            </div>
                                            <div class="list-inline-item">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <span class="distance-info">5 km away</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="club-info-divider mb-2"></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>