@model EntityViewModel

<div class="col-md-9">
    <div class="thumbnail">
        <img src="@Model.TennisClubs.FirstOrDefault().Image" alt="">
        <div class="caption">
            <h3 class="pull-right">@Model.TennisClubs.FirstOrDefault().Name</h3>
            <h3>
                <a>@Model.TennisClubs.FirstOrDefault().Schedule</a>
            </h3>
            <p>@Model.TennisClubs.FirstOrDefault().Address.Address</p>
            <p>@Model.TennisClubs.FirstOrDefault().PhoneNumber</p>
            <p>@Model.TennisClubs.FirstOrDefault().Description</p>
        </div>
    </div>
</div>
