@model EntityViewModel


@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container-fluid find-court-container">
        <p class="h3 find-court-header font-weight-bolder"> Find <span class="font-weight-bolder text-dark">your</span>  court </p>
        <p class="text-dark text-center">Book tennis courts in Romania</p>
        <!--Blue select-->
        <form asp-controller="Cities" asp-action="TennisClubs" asp-route-cityId="@Model.Cities.FirstOrDefault().Id" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="row">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label asp-for="Cities" class="control-label"></label>
                        <select asp-for="@Model.Cities.FirstOrDefault().Id"
                                class="form-control bg-dark text-white mb-2"
                                asp-items="@(new SelectList(Model.Cities,"Id", "Name"))">
                        </select>
                        <input type="datetime-local" id="followup_next_followup_date" class="mt-2 w-100" name="followup_next_followup_date" placeholder="Choose a reservation date" class="form-control py-4 px-4">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="Submit1" class="find-court-button w-100 bg-dark" type="submit" value="submit" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        @if (ViewBag.SelectedValue != null)
                        {
                            <text>Selected Country ID: </text> @ViewBag.SelectedValue;
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</header>
<div class="container mt-2 tm-mb-4">
    <div class="row site-description">
        <div class="col sm-4 text-center">
            <i class="fas fa-search site-description-icon mt-4 mb-4"></i>
            <p class="h3 mt-2 site-description-header">Find</p>
            <div class="justify-content-center mt-1 tm-mb-2">
                <div class="divider-short tm-mb-2"></div>
            </div>
            <p class="site-description-text">
                Are you looking to play after work, organise your Sunday League team, or exact revenge on the tennis court? Explore the largest network of tennis facilities in Romania. Simply enter your location, choose the date and hit the search button.
            </p>
        </div>
        <div class="col sm-4 text-center">
            <i class="far fa-calendar-alt site-description-icon mt-4 mb-4"></i>
            <p class="h3 mt-2 site-description-header">Book</p>
            <div class="justify-content-center mt-1 tm-mb-2">
                <div class="divider-short tm-mb-2"></div>
            </div>
            <p class="site-description-text">
                Once you’ve found the perfect court, get booked in quicker and make easier payment. Connect with the venue through the enquiry form to make an online booking. We work with the best tennis facilities in the Romania to simplify organising sport.
            </p>
        </div>
        <div class="col sm-4 text-center">
            <i class="fas fa-running site-description-icon mt-4 mb-4"></i>
            <p class="h3 mt-2 site-description-header">Play</p>
            <div class="justify-content-center mt-1 tm-mb-2 text-center">
                <div class="divider-short "></div>
            </div>
            <p class="site-description-text">
                You’re the hero, you’ve found a stunning court, booked with ease and now its time to play. The scene is set for your epic match, where dreams can be made or broken. Pain is only temporary but victory is forever, so leave nothing behind.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 sg-mb-1">
            <div class="stats text-center text">
                <p class="h4 pt-3 stats-header font-weight-bolder">@Model.Cities.Count</p>
                <p class="h5 mb-4 stats-info text-uppercase">cities</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 sg-mb-1">
            <div class="stats text-center text">
                <p class="h4 pt-3 stats-header font-weight-bolder">@Model.TennisClubs.Count</p>
                <p class="h5 mb-4 stats-info text-uppercase">tennis clubs</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 sg-mb-1">
            <div class="stats text-center text">
                <p class="h4 pt-3 stats-header font-weight-bolder">@Model.Surfaces.Count</p>
                <p class="h5 mb-4 stats-info text-uppercase">surfaces</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 sg-mb-1">
            <div class="stats text-center text">
                <p class="h4 pt-3 stats-header font-weight-bolder">@Model.Persons.Count</p>
                <p class="h5 mb-4 stats-info text-uppercase">players + coaches</p>
            </div>
        </div>
    </div>
</div>
<div class="tm-mt-2 social">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-6 social-links-area">
                <div class="row mr-3 ml-3">
                    <div class="text-center mt-4 col-3">
                        <a class="social-link" href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div class="text-center mt-4 col-3">
                        <a class="social-link" href="#">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </div>
                    <div class="text-center mt-4 col-3">
                        <a class="social-link" href="#">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </div>
                    <div class="text-center mt-4 col-3">
                        <a class="social-link" href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 social-newsletter d-flex">
                <form method="POST"  class="d-flex justify-content-center align-self-center mt-4 tm-ml-4">
                    <div class="row">
                        <div class="col-8 col-sm-8 col-lg-7 col-xl-8 mb-2 pb-1">
                            <input type="text" id="newsletter" class="email-input" name="email" placeholder="Email"  />
                        </div>
                        <div class="col-4 col-sm-4 col-lg-5 col-xl-4 mb-2 pb-1 text-nowrap">
                            <button class="btn btn-secondary tm-btn--secondary newsletter-submit-button">sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

